html, body {
  font-family: 'Open Sans', sans-serif!important;
}

h1,h2,h3,h4,h5,h6  {
  font-weight: 600!important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}